# Byte-compiled / cache
twibble/__pycache__/*
*__pycache__/
*.py[cod]
*.pyo

# Django-specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
# Except Example Template
!example.env
# IDEs & editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
ENV/

# Migrations 
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo

.directory
