{% extends "base.html" %}
{%block title%}Followers{%endblock%}
{% block content %}
  <div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">{{profile_user.username}}'s Followers</h5>
      <ul class="list-group list-group-flush">
        {% for follower in followers %}
            <li class="list-group-item d-flex align-items-center">
            <!-- Profile image -->
            <img src="{{ follower.profile_image.url }}" 
                alt="{{ follower.username }}'s profile picture" 
                class="rounded-circle me-2"
                style="width:40px; height:40px; object-fit:cover;">
            
            <!-- Username -->
            <div>
              <a href="{% url 'users:profile' follower.username %}" 
                class="text-decoration-none text-body fw-semibold">
                {{ follower.username }}
              </a>
              <p class="text-muted mb-0 small">{{ follower.bio }}</p>
            </div>
            <!-- Follow button -->
            <div class="ms-auto">
            {%include "users/_follow_button.html" with profile_user=follower current_user=request.user%}
            </div>
            </li>
        {%empty%}
        <p class="text-muted text-center">{{profile_user.username}} has no followers :(</p>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>
{%endblock%}
