{% extends "base.html" %}
{%block title%}Profile{%endblock%}
{% block content %}
<div class="container mt-4">
        <!-- Profile Header -->
        <div class="row">
            <div class="col-12  mb-4">
              <img src="{{ profile_user.profile_image.url}}" alt="Profile Picture" class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                <h1>@{{ profile_user.username }}</h1>
                <p class="lead">{{ profile_user.first_name }} {{ user.last_name }}</p>
                <p><strong>Email:</strong> {{ profile_user.email }}</p>
                <p class="text-muted">
                <a href={%url 'users:followers_list' profile_user.username%} class="text-decoration-none text-body">Followers:<strong>{{profile_user.followers.count}}</strong></a>                
                <a href={%url 'users:following_list' profile_user.username%} class="text-decoration-none text-body">Following:<strong>{{profile_user.following.count}}</strong></a>
                Posts: <strong>{{profile_user.tweets.count}}</strong></p>
            </div>
        </div>

        <!-- Bio Section -->
        <div class="row mb-4">
            <div class="col-12">
                <h3>Bio</h3>
                {% if profile_user.bio %}
                    <p>{{ profile_user.bio }}</p>
                {% else %}
                    <p class="text-muted">This user hasn't written a bio yet.</p>
                {% endif %}
            </div>
            {% include "users/_follow_button.html" %}

        </div>
        <hr>

        <!-- User's Tweets -->
        <div id="tweets-feed">
          {% for tweet in tweets %}
          {% include "tweets/_tweet_card.html" with tweet=tweet %}
        {% empty %}
          
        <p class="text-muted">{%if profile_user == request.user %}You don't have any tweets yet. :({%else%}No tweets</p>{%endif%}
        {%endfor%}
        </div>
    </div>

{%endblock%}
